<%- include("partials/header") %>





<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Fundamentally Gluten-Free</h1>
            <p>GF Curated</p>
            <p>
                <a class="btn btn-primary btn-md" href="/restaurants/new">Add New Restaurant</a>
            </p>
            </header>
        </div>
    </header>



    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Our most popular gluten-friendly restaurants</h3>
        </div>
        <% restaurants.forEach(function(restaurant){ %>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= restaurant.image %>" alt="">
                    <div class="caption">
                        <h4><%= restaurant.name %></h4>
                    </div>
                    <p><a href="/restaurants/<%- restaurant._id %>">More Info</a></p>
                </div>
            </div>
        <% }); %>
    </div>  
</div>
<%- include("partials/footer") %>
